
/* [EM TO PX] used a calculator that converted px to em (default of 16px)*/

.header {
	margin: auto;
}

#head {
	font-size: 35px;
	color: #454444;
	font-weight: bold;
	margin: auto;
}

.search_container {
	width: 225px;
	height: 50px;
	background-color: white;
	margin-right: 10px;
}


.objectives {
	height: 160px;
	width: 600px;
	padding: 20px;
}

#obj {
	margin: auto;
	position: relative;
	left: -315px;
	top: 20px;
}

.objectives h2 {
	padding-left: 16px;
	color: #000000;
	font-weight: bold;
	font-size: 24px;
}

.overview {
	background-color:  #E5E5E5;
	padding: 16px;
	border-radius: 32px;
}

.overview li {
	margin: 16px;
	font-size: 20px;
	color: #000000;
	font-weight: normal;
}

#pi {
	margin-left: 25px;
	position: relative;
	top: 200px;
}

#sheet {
	width: 600px;
	height: 1000px;
	margin-left: auto;
	position: relative;
	top: -300px;
	left: -20px;
}

#transaction_access {
	display: flex;
	justify-content: center;
	height: 100px;
}

.transaction_buttons {
	background-color: #84B0D8;
	width: 225px;
	height: 45px;
	margin: 50px;
	padding: 10px;
	border-radius: 15%;
	display: flex;
	justify-content: center;
}

.transaction_buttons p {
	color: #454444;
}