
/* [EM TO PX] used a calculator that converted px to em (default of 16px)*/

#header {
	height: 5em;						
	width: 80em;
	background-color: #84B0D8;			
	position: relative;
	top: -.625em;
	left: -.5em;
	text-align: center;
	margin: auto;
	padding: 1em;
}
#head {
	font-size: 2.2em;
	font-family: ruda, "Times New Roman", Arial;
	color: #454444;
	font-weight: bold;
}

#objectives {
	height: 10em;
	width: 35em;
	padding-left: 1em;
	margin: auto;
	position: relative;
	left: -19em;
	top: 1.5em;
}

#objectives h2 {
	padding-left: 1em;
	font-family: ruda, "Times New Roman", Arial;
	color: #000000;
	font-weight: bold;
	font-size: 1.5em;
}

#overview {
	background-color:  #E5E5E5;
	padding: 1em;
	border-radius: 2em;
}

#overview li {
	margin: 1em;
	font-size: 1.25em;
	font-family: ruda, "Times New Roman", Arial;
	color: #000000;
	font-weight: normal;
}