html * {
  font-family: 'Ruda', sans-serif
}

.x-light {
  font-weight: 400;
}

.light {
  font-weight: 500;
}

.regular {
  font-weight: 600;
}

.semi-bold {
  font-weight: 700;
}

.bold {
  font-weight: 800;
}

.x-bold {
  font-weight: 900;
}

body, html {
  height: 100%;
}

body {
  background-image: "{{ url_for('static', filename= 'images/login_bg.jpg') }}";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
}

.input-form {
  width: 620px;
  height: 620px;
  padding: 20px;
  margin: 9% auto 0;
  background: #84B0D8;
  box-shadow: 0px 6px 4px 5px
    rgba(0, 0, 0, 0.15);
  border-radius: 49px;
  text-align: center;
}

.label {
  text-align: left;
  margin-bottom: 0px;
  padding-left: 80px;
  margin-top: 0.5rem;
}

.space-top {
  margin-top: 2rem;
}

.label.space-top {
  font-size: 20px;
}

.logo-img {
  height: 130px;
}

.input-box {
  width: 425px;
  height: 60px;
  background: #F2F0F0;
  border: 1px solid #999;
  border-radius: 100px;
  outline: none;
  text-indent: 20px;
}

.login-btn {
  width: 275px;
  height: 75px;
  background: #F2F0F0;
  border: 1px solid #999;
  border-radius: 75px;
  outline: none;

  font-size: 24px;
  color: #454444;
}

#signup.input-form {
  padding-top: 5px;
}

#signup .logo-img {
  height: 100px;
}

#signup .input-box {
  height: 50px;
}

#signup .space-top {
  margin-top: 1rem;
}
