<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index_styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="{{ url_for('static', filename= 'images/bearbucks_bear.png') }}" rel="icon" type="image/x-icon" />
  <title>BearBucks | About</title>
</head>

<body>

<!-- NAV BAR -->
  <div class="nav-bar">
    <a href="{{ url_for('index')}}">
      <img src="{{ url_for('static', filename= 'images/bearbucks_logo.png') }}" alt="BearBucks Logo">
    </a>
    <a href="{{ url_for('about')}}">
      <p class="semi-bold nav-label">About</p>
    </a>
    <div class="access-buttons">
      <a href="{{ url_for('signup')}}" class="">
        <div class="access-btn">
          <p class="x-bold">Sign Up</p>
        </div>
      </a>
      <a href="{{ url_for('login')}}" class="">
        <div class="access-btn">
          <p class="x-bold">Login</p>
        </div></a>
    </div>
  </div>

  <div class="about-container">
    <br><br>
    <h1 class="bold">About Us</h1>
    <p class="x-light">
      BearBucks visually displays and organizes purchases to help individuals keep track of their personal finances.

      We also allow multiple users to collaborate on their finances and create shared budgets. We strive to enable
      users to easily understand their finances through an approachable design and with informative graphics that
      summarize their data.
    </p>
    <br><br>
    <h1 class="bold">The Team</h1>
  </div>

  <!-- The Team part -->
  <div class="team-container">
    <img src="{{ url_for('static', filename= 'images/shannen-profile.jpg') }}">
    <img src="{{ url_for('static', filename= 'images/safak_amsk.jpg') }}" onerror=this.src="{{ url_for('static', filename= 'images/default_user.png') }}">
    <img src="{{ url_for('static', filename= 'images/timmy-profile.JPG') }}">
    <img src="{{ url_for('static', filename= 'images/Vincent-profile.jpg') }}">
  </div>
  
  <!-- JavaScript Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>



</html>
