<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index_styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/overview_style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="{{ url_for('static', filename= 'images/bearbucks_bear.png') }}" rel="icon" type="image/x-icon" />
	<title> BearBucks </title>
</head>
<body>
	<!-- Top of page menu stuff -->
    <div class="nav-bar">
    	<a href="{{ url_for('overview', cur_user=User)}}">
      		<img src="{{ url_for('static', filename= 'images/bearbucks_logo.png') }}" alt="BearBucks Logo">
    	</a>
    	<div class="header">
			  <a id="head" href="{{ url_for('input', cur_user=User)}}"> 
          <h2 class="regular"> Input Transactions </h2>
        </a>
      </div>
      <a href="{{ url_for('account', cur_user=User)}}">
        <p class="semi-bold nav-label">Account</p>
      </a>
      <a href="{{ url_for('logout', cur_user=User)}}">
        <p class="semi-bold nav-label">Log out</p>
      </a>
  	</div>

    <!-- The rest of the pages -->

    <div class="row">
      <div class="column">
        <div class="left">
          <div class="content">
            <h5 class="semi-bold"> Name: </h5>
          </div>
        </div>
        <div class="left">
          <input type="text" placeholder="Name...">  
        </div>
        <div class="left">
          <div class="content">
            <h5 class="semi-bold"> Category: </h5>
          </div>
        </div>
        <div class="left">
          <select>
            <option class="light"> Finances </option>
            <option class="light"> Bacon </option>
            <option class="x-light"> Cheese </option>
          </select>   
        </div>
        <div class="left">
          <div class="content">
            <h5 class="semi-bold"> Amount: </h5>
          </div>
          <div class="content">
            <h5 class="semi-bold"> Date: </h5>
          </div>
        </div>
        <div class="left">
          <div class="split-input">
            <input type="text" placeholder="$00.00"> 
            <input type="text" placeholder="mm/dd/yyyy">   
          </div>
        </div>
        <div class="left">
          <div class="content">
            <h5 class="semi-bold"> Additional Info: </h5>
          </div>
        </div>
        <div class="left">
          <textarea> </textarea>
        </div>
        <div class="left">
          <div class="submit_area">
            <div class="transaction_button">
                <a href="{{ url_for('overview', cur_user=User)}}">
                <p class="semi-bold"> Submit </p>
                </a>
            </div>
          </div>  
        </div>
      </div>
    <div class="column">
      <div class="right">
        <div class="content">
          <h5 class="semi-bold"> Spending Breakdown: </h5>
        </div>      
      </div>
      <div class="right">
        <div class="container">
          <table class="spending_log">
            <tr>
              <th class="bold" class="name"> Name: </th>
              <th class="bold"> Amount: </th>
              <th class="bold"> Category: </th>
              <th class="bold"> Date: </th>
            </tr>
            <tr>
              <td> Bacon </td>
              <td> $12.99 </td>
              <td> Food </td>
              <td> 11/07/2020 </td>
            </tr>
            <tr>
              <td> Eggs </td>
              <td> $9.99 </td>
              <td> Food </td>
              <td> 11/07/2020 </td>
            </tr>
            <tr>
              <td> Bread </td>
              <td> $8.99 </td>
              <td> Food </td>
              <td> 11/07/2020 </td>
            </tr>
            <tr>
              <td> Water </td>
              <td> $999.99 </td>
              <td> Food </td>
              <td> 11/07/2020 </td>
            </tr>
            <tr>
              <td> Toilet Paper </td>
              <td> $100,000,000.00 </td>
              <td> Esstentials </td>
              <td> 11/07/2020 </td>
            </tr>
            <tr>
              <td> ... </td>
              <td> ... </td>
              <td> ... </td>
              <td> ... </td>
            </tr>
            <tr>
              <td> ... </td>
              <td> ... </td>
              <td> ... </td>
              <td> ... </td>
            </tr>   
            <tr>
              <td> ... </td>
              <td> ... </td>
              <td> ... </td>
              <td> ... </td>
            </tr>   
            <tr>
              <td> ... </td>
              <td> ... </td>
              <td> ... </td>
              <td> ... </td>
            </tr>                                                                                           
          </table>
        </div>        
      </div>
      <div class="right">
        <div class="transaction_buttons_area">
          <div class="transaction_button">
            <a href="{{ url_for('edit', cur_user=User)}}">
              <p class="semi-bold"> Edit Transaction </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    
  <!-- JavaScript Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>